#projects-container {
  position: relative;
  z-index: 2;

  padding: 5%;

  text-align: center;
  text-align: center;

  background-image: url('/images/layer-10.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#projects-title {
  margin: 0;
  padding: 5%;

  color: #ffffff;
}

#projects {
  width: 100%;
}

@supports (-webkit-overflow-scrolling: touch) {
  #projects-container {
    background-attachment: scroll;
  }
}