#projects-gradient {
  width: 100%;
  height: 15px;

  background: linear-gradient(#444444, #f3b32b);
}

#projects-container {
  position: relative;
  z-index: 4;

  text-align: center;

  background-color: #f3b32b;
}

#projects-title {
  margin: 0;
  padding: 5%;

  color: #000000;
}

#projects {
  width: 100%;
}

@media (min-width: 576px) {
  .project-title {
    font-size: 2.0rem;
  }
}

@media (min-width: 768px) {
  .project-title {
    font-size: 2.4rem;
  }
}

@media (min-width: 992px) {
  .project-title {
    font-size: 2.8rem;
  }
}

@media (min-width: 1600px) {
  .project-title {
    font-size: 3.2rem;
  }
}
