.project-identifier {
  width: 90%;
  margin: 0 auto;

  text-align: center;
}

.project-identifier span {
  font-size: 1.5rem;
  font-weight: bold;

  padding: 0 7.5px;

  color: #f3b32b;
}

.project {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

  position: relative;

  width: 90%;
  margin: 10px auto 50px;
  padding: 5%;

  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
}

.project-image {
  max-width: 100%;

  text-align: center;
}

.project-title {
  font-size: 1.6rem;

  margin: 10px;
}

.project-links {
  font-size: 1.0rem;

  margin: 10px;

  color: #f3b32b;
}

.project-links a {
  text-decoration: none;

  color: #f3b32b;
}

.project-links a:hover {
  color: #ee9000;
}

.project-info {
  font-family: 'Arial', Times, serif;
  font-size: 1.2rem;

  max-width: 792px;
  margin: 10px auto;

  border-top: 2px solid #000000;
}

.project-info p {
  display: inline-block;

  width: 80%;
  padding: 0 2%;

  vertical-align: top;
}

.project-detail span {
  font-weight: bold;

  color: #f3b32b;
}

@media (min-width: 576px) {
  .project-identifier span {
    font-size: 2.0rem;
  }

  .project-title {
    font-size: 2.0rem;
  }

  .project-links {
    font-size: 1.2rem;
  }

  .project-info p {
    width: 45%;
  }
}

@media (min-width: 768px) {
  .project-title {
    font-size: 2.4rem;
  }

  .project-links {
    font-size: 1.4rem;
  }

  .project-info {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .project-title {
    font-size: 2.8rem;
  }

  .project-links {
    font-size: 1.6rem;

    margin-bottom: 20px;
  }

  .project-image-container {
    display: inline-block;

    width: 40%;
  }

  .project-info {
    font-size: 1.2rem;

    display: inline-block;

    width: 50%;
    max-width: none;
    margin-left: 5%;

    vertical-align: top;

    border-bottom: 2px solid #000000;
  }
}

@media (min-width: 1200px) {
  .project-info {
    font-size: 1.5rem;
  }
}

@media (min-width: 1600px) {
  .project-title {
    font-size: 3.2rem;
  }

  .project-links {
    font-size: 1.8rem;
  }

  .project-info {
    font-size: 1.8rem;
  }
}