#about {
  padding: 5%;

  text-align: center;

  background-image: url('/images/layer-9.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#about-title {
  font-size: 1.6rem;
}

#about-description {
  position: relative;
  z-index: 5;
  font-size: 1.0rem;
  padding: 10px;
  background-color: rgba(0, 15, 25, 0.5);
}

@media (min-width: 576px) {
  #about-title {
    font-size: 2.0rem;
  }

  #about-description {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  #about-title {
    font-size: 2.4rem;
  }

  #about-description {
    font-size: 1.6rem;
  }
}

@media (min-width: 992px) {
  #about-title {
    font-size: 2.8rem;
  }

  #about-description {
    font-size: 2.0rem;
  }
}

@media (min-width: 1600px) {
  #about-title {
    font-size: 3.2rem;
  }

  #about-description {
    font-size: 2.5rem;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
   #about {
    background-attachment: scroll;
  } 
}